version: '3.8'

services:
  cek-pelunasan:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cek-pelunasan-app
    ports:
      - "8000:8000"
    environment:
    deploy:
      resources:
        limits:
          memory: 512M
    restart: unless-stopped
