telegram.bot.token=
telegram.bot.owner=
spring.datasource.url=
server.port=8080
spring.datasource.hikari.maximum-pool-size=100
spring.datasource.hikari.minimum-idle=2
spring.jpa.hibernate.ddl-auto=update
management.endpoints.web.exposure.include=prometheus, health, info
management.endpoint.prometheus.access=read_only
management.metrics.export.prometheus.enabled=true
management.endpoints.web.base-path=/manage
spring.servlet.multipart.max-file-size=20MB
spring.servlet.multipart.max-request-size=20MB
spring.jpa.properties.hibernate.jdbc.batch_size=100
spring.jpa.properties.hibernate.order_inserts=true
spring.jpa.properties.hibernate.order_updates=true
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
logging.level.org.hibernate.SQL=DEBUG
r2.account.id=
r2.access.key=
r2.secret.key=
r2.endpoint=r2.cloudflarestorage.com
r2.bucket=
gemini.key=


